* {font-family: Verdana; font-size: 13px; color: #000000;}
html {min-height: 100%;}
body {margin: 0px; background-color: #ffffff; min-height: 100%;}


body.updating {background: transparent url(../img/bg_logo.jpg) no-repeat center center;}
body.updating #page {text-align: center; width: 100%; height: 100px; position: absolute; top: 50%; margin: 0 auto; margin-top: -50px;}

body.front {background: transparent url(../img/bg_logo.jpg) no-repeat center center;}

#page {width: 960px; position: relative; text-align: left; overflow: hidden; margin: 0 auto;}
#page .booking_com {position: absolute; top: 100px; right: 0;}

#menu {width: 192px; float: left; margin: 20px 0;}
#menu .logo {width: 960px; background: transparent url(/img/logo.jpg) no-repeat top left;}
#menu .logo a {text-decoration: none; text-align: right; height: 155px;}
#menu .logo a:hover {text-decoration: none;}
#menu .logo span {font-size: 30px; font-weight: bold; display: block;}

#menu .logo span.phone {font-size: 16px; font-weight: normal;}

#menu .back {}
#menu a {display: block;}

#menu ul {width: 192px; margin: 20px 0; padding: 0; list-style: none; border-bottom: 1px solid #cccccc; border-top: 1px solid #555555;}
#menu li {border-bottom: 1px solid #555555; border-top: 1px solid #cccccc;}


#menu li a {padding: 5px 0 5px 15px; font-size: 13px; font-weight: bold; text-decoration: none; color: #555555; text-align: left;}
#menu li.selected a {color: #4F974E;}

#menu ul ul {width: 192px; margin: 0; padding: 0; border-bottom: none; border-top: 1px solid #555555;}
#menu li li {border-bottom: none; border-top: 1px solid #cccccc;}

#menu li li a {padding: 5px 0 5px 20px; font-weight: normal;}
#menu li.selected li a {color: #555555;}

#menu a:hover {color: #4F974E; text-decoration: underline;}

#menu ul {width: 192px; margin: 20px 0; padding: 0; list-style: none; border-bottom: 1px solid #cccccc; border-top: 1px solid #555555;}


#menu .assoc {overflow: hidden; padding: 0 20px;}
#menu .assoc a {float: left; width: 50%; text-align: center;}

#footer {clear: both; margin-top: 10px; border-top: 1px solid #BBBBBB; color: #999999; padding: 10px 0; text-align: center;}
#footer a {font-weight: bold;}

#content {width: 700px; float: left; padding: 190px 0 30px 68px;}

#bothwell_video {margin-bottom: 10px;}

.c,
.c100,
.c200,
.c300,
.c400 {float: left;}

.c200 {width: 300px; padding-right: 50px;}
.c400 {width: 650px; padding-right: 50px;}


img {border: 0;}
h1 {font-size: 16px; padding: 0 0 10px; margin: 0;}
.front h1 {font-size: 22px; padding: 0 0 5px; margin: 0;}
h2 {font-size: 14px; padding: 0 0 5px; margin: 0;}
h3 {padding: 0 0 1px; margin: 0;}
p {padding: 0 0 10px; margin: 0; line-height: 18px;}
hr {margin: 10px 0; border: none; border-top: 1px solid #555555;}

img.pic {margin-bottom: 20px;}

.c200 ul {margin: 0; padding: 0 20px;}
.c200 li {padding: 0; margin: 0;}




table {width: 100%; margin: 10px 0; padding: 0; border-spacing: 0; border-collapse: collapse;}
table.prices td {padding-right: 4px; text-align: right; white-space: nowrap;}
table.prices td.b,
table.prices td.max {width: 100%; padding-left: 4px; text-align: left;}
table.notopmargin {margin-top: 0;}
table.nobottommargin {margin-bottom: 0;}
td {padding: 2px 0;}


#content ul {padding-bottom: 10px;}
#content li {padding: 1px 0;}
#content a:hover {color: #4F974E;}

.box {margin-bottom: 10px;}

.altBox h2,
.altBox p,
.altBox a,
.altBox em,
.altBox strong {color: #000000;}
#content .altBox a:hover {color: #ffffff;}

img.fright {float: right; margin: 0 0 30px 30px;}
.acenter {text-align: center;}
.aright {text-align: right;}
.b {font-weight: bold;}
.odd {background-color: #EEEEEE;}
.news {color: #cc0000;}

.menu {}
.menu li {overflow: hidden; padding: 0 0 8px 0 !important;}
.menu span {float: right;}

.quote {padding: 40px; font-style: italic; width: 350px;}
.quote h3 {padding: 30px 0 0;}
.quote h4 {padding: 0 0 20px; margin: 0; font-weight: normal; font-size: 13px; color: #666666;}


.quotee {font-size: 14px; padding: 0 40px; font-style: italic;}