* {font-family: Verdana; font-size: 13px; color: #000000;
	-webkit-text-size-adjust: none;
}
body,
body.front {margin: 0px; background-color: white; background-image: none;}

#page {width: auto; display: block;}

.front #menu ul {display: block;}
.front #menu ul ul {width: auto; display: none;}

.front #menu .back,
#menu ul,
#menu .assoc {display: none;}

#menu {width: auto; float: none; overflow: hidden; position: relative;}
#menu .logo {background-position: center top; width: auto;}
#menu .logo a {padding: 155px 0 0; text-decoration: none; text-align: center; height: auto;}
#menu .logo span {font-size: 20px; font-weight: bold; display: block;}

#menu .back {display: block; text-align: left; font-size: 20px; font-weight: bold; padding: 0 100px; width: 200px; height: 50px; position: absolute; top: 50%; margin-top: -25px;}

#menu ul {width: auto;}
#menu li {}
#menu li a {padding: 10px 15px; text-align: center; font-size: 16px;}
#menu li li a {padding: 10px 15px; font-weight: normal;}

#menu li.nomobile {display: none;}
#footer a {display: block;}

#content {width: auto; float: none; padding: 15px;}

.c,
.c100,
.c200,
.c300,
.c400 {float: none; text-align: center; width: auto; padding: 0;}

h1, h2, h3, h4, p, li {text-align: left;}
#content ul {padding-left: 20px;}

.front #menu .logo,
#content img,
embed {width: 100%;}

table {width: 100%;}
table.prices td {white-space: normal;}


.quote {padding: 30px; width: auto;}
.quote h3 {padding: 20px 0 0;}
.quote h4 {padding: 0 0 15px;}
.quotee {padding: 0 30px;}
